table {
  margin: 0 auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;

}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

}
tbody tr:hover{
  opacity: 0.7;
  cursor: pointer;
}

tbody  > tr > td > a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--light-black);

}

tr:nth-child(even) {
  background-color: #dddddd;
}
